@charset "utf-8";
.create-container {
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	font-size: 1.5rem;
	background: #F6F5F5;
	.btn-create-bar {
		text-decoration: none;
		color: #7C7B7B;
	}
}